.grid {
  height: 90%;
  aspect-ratio: 1;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10%);
  background-image: url(image.jpeg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item {
  border: 1px solid grey;
  aspect-ratio: 1;
}